<!doctype html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>首页_GaryLee个人博客</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/base.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<link href="css/infopic.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="http://how2j.cn/study/axios.min.js"></script>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/piccontent.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/hc-sticky.js"></script>
<script type="text/javascript" src="js/comm.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
  <!--加载不显示大括号{{}}-->
  <style type="text/css">
    [v-cloak] { display: none }
  </style>
</head>
<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/">GaryLee个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/index">网站首页</a></li>
      <li><a href="/share">我的相册</a></li>
      <li><a href="/list">我的日记</a></li>
      <li><a href="/about">关于我</a></li>
      <li><a href="/gbook">留言</a></li>
      <li th:if="${null==session.user}"><a href="/login">登陆</a></li>
      <li th:if="${null!=session.user}">当前用户:<a href="/login" th:text="${session.user.name}" style="color: #F0AD4E"></a></li>
    </ul>
</nav>
</header>
<article id="demo" v-cloak>
  <aside class="l_box">
    <div class="about_me">
      <h2>关于我</h2>
      <ul>
        <i><img src="images/touxiang.jpg"></i>
        <p><b>GaryLee</b>，一个默默地在学Java Web的大学生。</p>
      </ul>
    </div>
    <div class="wdxc">
      <h2>我的相册</h2>
      <ul>
        <li v-for="picture in images"><a :href="'infopic?id='+picture.aid"><img :src="'https://lee-blog-picture.oss-cn-shenzhen.aliyuncs.com/'+picture.id+'.jpg'"></a></li>
      </ul>
    </div>
     <div class="search">
      <form action="#" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
        <li><a href="/">学无止境（33）</a></li>
        <li><a href="/">日记（19）</a></li>
        <li><a href="/">慢生活（520）</a></li>
        <li><a href="/">美文欣赏（40）</a></li>
      </ul>
    </div>

    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="images/me.jpg">
      </ul>
    </div>
  </aside>
  <main>
  <div class="picsbox">
    <div class="bodymodal"></div>
    <!--播放到第一张图的提示-->
    <div class="firsttop">
      <div class="firsttop_right">
        <div class="close2"> <a class="closebtn1" title="关闭" href="javascript:void(0)"></a> </div>
        <div class="replay">
          <h2 id="div-end-h2"> 已到第一张图片了。 </h2>
          <p> <a class="replaybtn1" href="javascript:;">重新播放</a> </p>
        </div>
      </div>
    </div>
    <!--播放到最后一张图的提示-->
    <div class="endtop">
      <div class="firsttop_right">
        <div class="close2"> <a class="closebtn2" title="关闭" href="javascript:void(0)"></a> </div>
        <div class="replay">
          <h2 id="H1"> 已到最后一张图片了。 </h2>
          <p> <a class="replaybtn2" href="javascript:;">重新播放</a> </p>
        </div>
      </div>
    </div>
    <!--弹出层结束--> 
    <!--图片特效内容开始-->
    <div class="piccontext">
      <h2> {{album.title}} </h2>
      <div class="source">
        <div class="source_left"><span>{{album.createtime | dataFormat('yyyy-MM-dd')}}</span> </div>
        <a :href="'/deleteAlbum?id='+album.id" style="text-decoration:underline" deleteLink='true'th:if="${(null!=session.user)&&('root'==session.user.name)}">删除</a>
        <a :href="'/upload?aid='+album.id" style="text-decoration:underline" th:if="${(null!=session.user)&&('root'==session.user.name)}">添加图片</a>
        <div class="source_right"> <a href="javascript:;" class="list">列表查看</a> </div>
        <div class="source_right1"> <a href="javascript:;" class="gaoqing">高清查看</a> </div>
      </div>
      <!--大图展示-->
      <div class="picshow">
        <div class="picshowtop"> <a href="#"><img src="" alt="" id="pic1" curindex="0" /></a> <a id="preArrow" href="javascript:void(0)" class="contextDiv" title="上一张"><span id="preArrow_A"></span></a> <a id="nextArrow" href="javascript:void(0)" class="contextDiv" title="下一张"><span id="nextArrow_A"></span></a> </div>
        <div class="picshowtxt">
          <div class="picshowtxt_left"><span>1</span>/<i>{{pictures.length}}</i></div>
          <div class="picshowtxt_right"></div>
        </div>
        <div class="picshowlist">
          <div class="picshowlist_mid">
            <div class="picmidleft"> <a href="javascript:void(0)" id="preArrow_B"><span class="sleft"></span></a> </div>
            <div class="picmidmid">
              <ul>
                <!--bigimg设置大图显示-->
                <li v-for="picture in pictures"> <a href="javascript:void(0);"><img :src="'https://lee-blog-picture.oss-cn-shenzhen.aliyuncs.com/'+picture.id+'.jpg'" alt="" :bigimg="'https://lee-blog-picture.oss-cn-shenzhen.aliyuncs.com/'+picture.id+'.jpg'" :text="[album.title]" /></a></li>
              </ul>
            </div>
            <div class="picmidright"> <a href="javascript:void(0)" id="nextArrow_B"><span class="sright"></span></a> </div>
          </div>
        </div>
      </div>
      
      <!--列表展示-->
      <div class="piclistshow">
        <ul>
          <li v-for="(picture,index) in pictures">
            <div class="picimg"><img :src="'https://lee-blog-picture.oss-cn-shenzhen.aliyuncs.com/'+picture.id+'.jpg'" alt="" /></div>
            <div class="pictxt">
              <h3>{{album.title}}<span>({{index+1}}/{{pictures.length}})</span></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="pictext">
      <ul>
        {{album.content}}
      </ul>
    </div>
    <div class="share">
      <p class="diggit"><a href="javascript:" @click="like"> 很赞哦！ </a>(<b id="diggnum"><script type="text/javascript" src="/e/public/ViewClick/?classid=2&id=20&down=5"></script>13</b>)</p>
    </div>
 <div class="nextinfo">
   <!--<p v-if="hasPrevious()">上一篇：<a :href="'infopic?id='+(album.id-1)">{{albums[albums.length-1-album.id+2].title}}</a></p>-->
   <!--ps.上面这一种实现的前提下是id要连续-->
   <p v-if="hasPrevious()">上一篇：<a :href="'infopic?id='+albums[albums.length-1-album.id+2].id">{{albums[albums.length-1-album.id+2].title}}</a></p>
   <p v-else>上一篇：<a href="/share">返回列表</a></p>
   <p  v-if="hasNext()">下一篇：<a :href="'infopic?id='+albums[albums.length-1-album.id].id">{{albums[albums.length-1-album.id].title}}</a></p>
   <p v-else>下一篇：<a href="/share">返回列表</a></p>
    </div>
    <div class="news_pl">
        <h2>文章评论</h2>
        <div class="gbko"> 
          <script src="/e/pl/more/?classid=77&amp;id=106&amp;num=20"></script>
          <div class="fb">
            <ul>
              <p class="fbtime"><span>2018-07-24 11:52:38</span>dancesmile</p>
              <p class="fbinfo">这才是我要的朋友圈</p>
            </ul>
          </div>
          <div class="fb">
            <ul>
              <p class="fbtime"><span>2018-07-24 08:52:48</span> 卜野</p>
              <p class="fbinfo"></p>
              <div class="ecomment"><span class="ecommentauthor">网友 家蚂蚁 的原文：</span>
                <p class="ecommenttext">坚持哟!看你每天都有写，请继续加油，再接再厉哦</p>
              </div>
            </ul>
          </div>
          
          <script>
		  function CheckPl(obj)
		  {
		  if(obj.saytext.value=="")
		  {
		  alert("您没什么话要说吗？");
		  obj.saytext.focus();
		  return false;
		  }
		  return true;
		  }
		  </script>
          <form action="/e/pl/doaction.php" method="post" name="saypl" id="saypl" onsubmit="return CheckPl(document.saypl)">
            <div id="plpost">
              <p class="saying"><span><a href="/e/pl/?classid=77&amp;id=106">共有<script type="text/javascript" src="/e/public/ViewClick/?classid=77&amp;id=106&amp;down=2"></script>2条评论</a></span>来说两句吧...</p>
              <p class="yname"><span>用户名:</span>
                <input name="username" type="text" class="inputText" id="username" value="" size="16">
              </p>
              <p class="yzm"><span>验证码:</span>
                <input name="key" type="text" class="inputText" size="16">
              </p>
              <input name="nomember" type="hidden" id="nomember" value="1" checked="checked">
              <textarea name="saytext" rows="6" id="saytext"></textarea>
              <input name="imageField" type="submit" value="提交">
              <input name="id" type="hidden" id="id" value="106">
              <input name="classid" type="hidden" id="classid" value="77">
              <input name="enews" type="hidden" id="enews" value="AddPl">
              <input name="repid" type="hidden" id="repid" value="0">
              <input type="hidden" name="ecmsfrom" value="/joke/talk/2018-07-23/106.html">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</article>
<a href="#" class="cd-top">Top</a>
</body>
<script>
    //    过滤器(将date格式化输出)
    Vue.filter('dataFormat', function (value, fmt) {
        let getDate = new Date(value);
        let o = {
            'M+': getDate.getMonth() + 1,
            'd+': getDate.getDate(),
            'h+': getDate.getHours(),
            'm+': getDate.getMinutes(),
            's+': getDate.getSeconds(),
            'q+': Math.floor((getDate.getMonth() + 3) / 3),
            'S': getDate.getMilliseconds()
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (getDate.getFullYear() + '').substr(4 - RegExp.$1.length))
        }
        for (let k in o) {
            if (new RegExp('(' + k + ')').test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)))
            }
        }
        return fmt;
    });
    new Vue({
        el:"#demo",
        data:{
            album:[],
            albums:[],
            pictures:[],
            images:[]//ps.暂时别名为images吧(原pictures)
//            pageInfo:[],
//            sortedBlogs:[]
        },
        created:function () {
            var self = this;
            $.ajaxSettings.async = false;//设置后则为同步执行(即执行完ajax才执行后续代码)
//            $.get("updateBlog?id="+GetQueryString("id"));
            $.get(
                "getAlbum?id="+GetQueryString("id"),
                function (data) {
                    self.album = data;
                }
            );
            $.get(
                "listAlbum",
                function (data) {
                    self.albums = data;
                }
            );
            $.get(
                "listPictures",
                {aid:GetQueryString("id")},
                function (data) {
                    self.pictures = data;
                }
            );
            $.get(
                "showPictures",
                function (data) {
                    self.images = data;
                }
            );
//            console.log("是否有上一页:"+(this.blogs[Number(GetQueryString("id"))-1-1] !== undefined))
//            console.log("是否有下一页:"+(this.blogs[Number(GetQueryString("id"))] !== undefined))
        },
        methods: {
            hasPrevious: function () {
                var previous = Number(GetQueryString("id"))-1;
                return this.albums[this.albums.length-previous] !== undefined;//加上!
            },
            hasNext: function () {
                var next = Number(GetQueryString("id"))+1;
                return this.albums[this.albums.length-next] !== undefined;
            },
            like:function () {
                var self = this;
                $.get(
                    confirm("相册页未实现!")
                );
            }
        }
    });
    function GetQueryString(name) {//获取url中key为name的value
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    //判断是否为删除操作
    $(function(){
        $("a").click(function(){
            var deleteLink = $(this).attr("deleteLink");
            //            console.log(deleteLink);
            if("true"==deleteLink){
                var confirmDelete = confirm("确认要删除");
                if(confirmDelete)
                    return true;
                return false;

            }
        });
    })
</script>
</html>
