<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

<meta charset="UTF-8">

    <title>首页_GaryLee个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/m.css" rel="stylesheet">
    <!--去掉然后上面的超链就不会自动cover-->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/hc-sticky.js"></script>
    <script type="text/javascript" src="js/comm.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>

<!-- 引用控制层插件样式 -->

<link rel="stylesheet" href="control/css/zyUpload.css" type="text/css">

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!-- 引用核心层插件 -->

<script src="core/zyFile.js"></script>

<!-- 引用控制层插件 -->

<script src="control/js/zyUpload.js"></script>

<!-- 引用初始化JS -->

<script src="core/jq22.js"></script>

</head>

<body>
<header class="header-navigation" id="header">
    <nav><div class="logo"><a href="/">GaryLee个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/index">网站首页</a></li>
            <li><a href="/share">我的相册</a></li>
            <li><a href="/list">我的日记</a></li>
            <li><a href="/about">关于我</a></li>
            <li><a href="/gbook">留言</a></li>
            <li th:if="${null==session.user}"><a href="/login">登陆</a></li>
            <li th:if="${null!=session.user}">当前用户:<a href="/login" th:text="${session.user.name}" style="color: #F0AD4E"></a></li>
        </ul>
    </nav>
</header>
<!--不加这个overflow的话该插件下面的就无法显示了-->
<article style="overflow: visible">
<h1 style="text-align:center;">请上传您的图片~</h1>

<div id="demo" class="demo"></div>
</article>
</body>
<script>
    function GetQueryString(name) {//获取url中key为name的value
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    $(function () {
        // 完成后跳转share页面
        $(".finished").bind("click", function(e){
            window.location.href="/infopic?aid="+GetQueryString("aid");
        });
    })
</script>
</html>